<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>		
		<add key="connectionString" value="Data Source=192.168.26.14\sql2019;Initial Catalog=VICTOR_IMSSIAR;User Id=appims;Password=P4ssw0rd;Persist Security Info=True"/>
		<add key="Prefix" value="PRODUCT_" />
		<add key="ftpHost" value="10.25.136.10:21" />
		<add key="ftpUser" value="Admin" />
		<add key="ftpPass" value="134" />
		<add key="ftpDestination" value="/SIT/WMS/VCT/" />
		<add key="localPath" value="D:\Local\" />
		<add key="localHistory" value="D:\History\" />
		<add key="ftpSSLEnable" value="false" />
		<add key="extension" value=".json" />
	</appSettings>
</configuration>